<?php 
	session_start();
	$mysqli = new mysqli("localhost", "hardeep", "password", "buildempire");

	//Get the start and end time for the users sub.
	$sql = "SELECT * FROM users_subscriptions WHERE quote_id = '" . $_SESSION['quote_id'] ."'";
	$sub_result = $mysqli->query($sql);

	//Get the price for the subscription
	$sql = "SELECT price FROM subscriptions WHERE quote_id = '" . $_SESSION['subscripn_id'] ."'";
	$sub_price = $mysqli->query($sql);

	//TODO - Calculate the total cost of the subscription excluding weekdays.

	//Get the tutor information for the quote
	$sql = "SELECT * FROM users_tutor WHERE quote_id = '" . $_SESSION['quote_id'] ."'";
	$service = $mysqli->query($sql);

	//Get the tutor information for the quote
	//TODO - Do a join onto the goods table using the good_id to add an extra field to the table which is using SUM to do qunatity * price.
	$sql = "SELECT * FROM users_goods WHERE quote_id = '" . $_SESSION['quote_id'] ."'";
	$goods = $mysqli->query($sql);
?>

<!DOCTYPE HTML>

<html>
	<head>
		<title>Your Quote</title>	
		<style>
			#form_container .input_container {
				margin-bottom: 20px;
			}

			.margin-top {
				margin-top: 20px;
			}
		</style>
	</head>
	<body>
		<h1>Your Quote</h1>
		<form id="form_container" method="post" action="<?php echo htmlspecialchars($_SERVER["PHP_SELF"]);?>">
			<label>Subscriptions</label>

			<?php $i = 1; while ($row = $result->fetch_array()): ?>
				<div class="input_container margin-top">
					TODO - Output the sub info from the queries above. Show the Users information that was stored in the session(update to table). Show the Service and Goods.
				</div>
			<?php $i++; endwhile; ?>
		</form>
	</body>
</html>

<?php 
	// echo "Session email: " . $_SESSION['email'];

	if($_SERVER["REQUEST_METHOD"] == "POST") {
		//If request was of type post is from form, clean the inputs and store into vars. 
		var_dump($_POST);
		$subscription_id = strip_input($_POST['sub_course']);
		$start_date = strip_input($_POST['start_date']);
		$end_date = strip_input($_POST['end_date']);

		if(is_null($start_date) || is_null($end_date)) {
			echo 'Please enter a value for both the start and end date';
		} else {
			if ((strtotime($start_date)) > (strtotime($end_date)))
			{
			    echo 'Start date cannot be after the end date';
			} else {
				$_SESSION['subscription'] = $subscription_id;
			}
		}

	}

	function strip_input($data) {
	  $data = trim($data);
	  $data = stripslashes($data);
	  $data = htmlspecialchars($data);
	  return $data;
	}
?>