<!DOCTYPE HTML>

<html>
	<head>
		<title>Register</title>	
		<script
		  src="https://code.jquery.com/jquery-3.3.1.min.js"
		  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		  crossorigin="anonymous">
	  	</script>
		<style>
			.form_container .input_container {
				margin-bottom: 20px;
			}
		</style>
	</head>
	<body>
		<div class="step_1">
			<form class="form_container" method="post" action="<?php echo htmlspecialchars($_SERVER["PHP_SELF"]);?>">
				<label>Your Info</label>
				<div class="input_container margin-top">
					<label for="register_name">Name:*</label>
					<input id="register_name" name="register_name" type="text" required/>
				</div>
				<div class="input_container">
					<label for="register_password">Password:*</label>
					<input id="register_password" name="register_password" type="password" required/>
				</div>
				<div class="input_container">
					<label for="register_email">Email:*</label>
					<input id="register_email" name="register_email" type="email" required/>
				</div>
				<div class="input_container">
					<label for="register_phoneNumber">Phone Number:*</label>
					<input id="register_phoneNumber" name="register_phoneNumber" type="text" required/>
				</div>
				<div class="input_container">
					<label>* indiciates required.</label>
				</div>

				<div class="input_container">
					<button id="step_1" type="submit">Submit</button>
				</div>
			</form>
		</div>
	</body>
</html>
<?php
	$redirect = false;
	//Check if request was made and was of type post.
	if($_SERVER["REQUEST_METHOD"] == "POST") {
		//If request was of type post is from form, clean the inputs and store into vars. 
		$name = strip_input($_POST["register_name"]);
		$password = strip_input($_POST["register_password"]);
		$email = strip_input($_POST["register_email"]);
		$number = strip_input($_POST["register_phoneNumber"]);

		//Check if the user already exists by email. If they do send a message to the view else insert the data.
		// if(checkUserExists($email)) {
						
		// } else {
			//Inputs have been cleaned now pass them to be inserted
			// insert_data($name, $password, $email, $number);
			session_start();
			$_SESSION['email'] = $email;
			$_SESSION['password'] = $password;
			echo 'Session Email: ' . $_SESSION['email'];
			$redirect = true;
		// }

		
	}

		// //Function checks if a user exists or not. If they do return true else false.
		// function checkUserExists($email) {
		// 	$mysqli = new mysqli("localhost", "hardeep", "password", "buildempire");
		// 	$sql = "SELECT * FROM users WHERE email = '" . $email ."'" ;
		// 	// $result = $mysqli->query($sql);

		// 	if ($result=mysqli_query($mysqli,$sql))
		// 	  {
		// 	   if(mysqli_num_rows($result) > 0)
		// 	    {
		// 	      echo "User already exists";
		// 	      return true;
		// 	    } else {
		// 	    	return false;
		// 	    }
		// 	  }

		// }
		// //Insert the data into the database.
		// function insert_data($name, $password, $email, $number) {
		// 	$mysqli = new mysqli("localhost", "hardeep", "password", "buildempire");
		// 	$sql = "INSERT INTO users (name, password, email, phone_number) VALUES ('" . $name . "', '" . $password . "', '" . $email . "', '" . $number . "');";

		// 	if ($mysqli->query($sql) === TRUE) {
		// 	    //TODO - REDIRECT TO NEW WELCOME PAGE.
		// 	} else {
		// 	    //TODO - REFRESH PAGE WITH ERROR MESSAGE.
		// 	}

		// }	

	//Function that cleans the data for any potentional threats.
	function strip_input($data) {
	  $data = trim($data);
	  $data = stripslashes($data);
	  $data = htmlspecialchars($data);
	  return $data;
	}
?>

<?php if($redirect): ?>
	<script type="text/javascript">
		window.location = "/BuildEmpire/subscription.phtml";
	</script>
<?php endif; ?>