<?php 
session_start();
$redirect = false;
	$mysqli = new mysqli("localhost", "hardeep", "password", "buildempire");

	$sql1 = "SELECT * FROM subscriptions";
	$subs = $mysqli->query($sql1);

	$sql2 = "SELECT * FROM goods";
	$goods = $mysqli->query($sql2);
?>

<!DOCTYPE HTML>

<html>
	<head>
		<title>Welcome</title>	

		<script
		  src="https://code.jquery.com/jquery-3.3.1.min.js"
		  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		  crossorigin="anonymous">
	  	</script>

	  	<script src="jquery.timepicker.min.js"></script>
	  	<link rel="stylesheet" href="jquery.timepicker.min.css">

		<style>
			#form_container .input_container {
				margin-bottom: 20px;
			}

			.margin-top {
				margin-top: 20px;
			}
		</style>
	</head>
	<body>
		<h2>Quote</h1>
		<form id="form_container" method="post" action="<?php echo htmlspecialchars($_SERVER["PHP_SELF"]);?>">
			<label>Subscriptions</label>

			<?php $i = 1; while ($row = $subs->fetch_array()): ?>
				<div class="input_container margin-top">
					<input type="radio" name="sub_course" value="<?= $row['ID'] ?>" <?= $i == 1 ? 'checked' : ''; ?> > <?= $row['name']; ?> - <?= $row['price'] ?> per day.
				</div>
			<?php $i++; endwhile; ?>

			<div class="input_container">
				<label for="start_date">Start Date</label>
				<input id="register_name" name="start_date" type="date" required/>
			</div>

			<div class="input_container">
				<label for="end_date">End Date</label>
				<input id="register_name" name="end_date" type="date" required/>
			</div>

			<h2>Services</h2>
			<input type="checkbox" name="tutor" value="1"> Tutor service
			<div class="input_container margin-top">
				<select name="service_date">
					<option>Monday</option>
					<option>Tuesday</option>
					<option>Wednesday</option>
					<option>Thursday</option>
					<option>Friday</option>
					<option>Saturday</option>
				</select>
			</div>

			<div class="input_container margin-top">
				<label>Start Time:</label>
				<input id="service_start_time" name="service_start_time" class="time-picker" type="text">
			</div>

			<div class="input_container margin-top">
				<label>End Time:</label>
				<input id="service_end_time" name="service_end_time" class="time-picker" type="text">
			</div>

			<div class="input_container margin-top">
				<h2>Goods<h2>
			</div>

			<?php while ($row = $goods->fetch_array()): ?>
				<div class="input_container">
					<input type="checkbox" name="goods['<?= $row['name'] ?>']['checked']" value="<?= $row['ID']; ?>"> <?= $row['name'] ?>
					<input type="number" name="goods['<?= $row['name'] ?>']['quantity']">
					<input type="text" name="goods['<?= $row['name'] ?>']['id']" value="<?= $row['ID']; ?>" hidden>
				</div>
			<?php endwhile; ?>

			<!-- <div class="input_container">
				<label>Textbook</label>
				<input type="number" name="textbook">
			</div>

			<div class="input_container">
				<label>Equipment</label>
				<input type="number" name="equipment">
			</div> -->

			<div class="input_container">
				<button type="submit">Submit</button>
			</div>
		</form>

		<script type="text/javascript">
			$('.time-picker').timepicker({
			    'minTime': '9:00am',
			    'maxTime': '7:00pm',
			    'showDuration': true
			});
		</script>
	</body>
</html>

<?php 

	// echo "Session email: " . $_SESSION['email'];

	if($_SERVER["REQUEST_METHOD"] == "POST") {
		$quote_id = sprintf("%06d", mt_rand(1, 999999));
		$_SESSION['quote_id'] = $quote_id;

		//If request was of type post is from form, clean the inputs and store into vars. 
		// var_dump($_POST);
		$subscription_id = strip_input($_POST['sub_course']);
		$start_date = strip_input($_POST['start_date']);
		$end_date = strip_input($_POST['end_date']);

		$sub_errors = false;
		if(is_null($start_date) || is_null($end_date)) {
			echo 'Please enter a value for both the start and end date <br>';
		} else {
			if ((strtotime($start_date)) > (strtotime($end_date)))
			{
			    echo 'Subcription start date cannot be after the end date <br>';
		    	$sub_errors = true;
			} else {
				$_SESSION['subscription'] = $subscription_id;
			}
		}


		if(!$sub_errors) {
			$sub_sql = "INSERT INTO users_subscriptions (quote_id, sub_id, start_time, end_time) VALUES ('" . $quote_id . "', '" . $subscription_id . "', '" . $start_date . "', '" . $end_date . "');";
			$mysqli->query($sub_sql);
		}

		$tutor_errors = false;
		if(isset($_POST['tutor']) && $_POST['tutor']) {
			$service_date = strip_input($_POST['service_date']);
			$service_start_time = strip_input($_POST['service_start_time']);
			$service_end_time = strip_input($_POST['service_end_time']);

			if ((strtotime($service_start_time)) > (strtotime($service_end_time))) {
				echo 'Tutor time cannot start before it ends. <br>';
				$tutor_errors = true;
			} else {
				$tutor_sql = "INSERT INTO users_tutor (quote_id, day, start_time, end_time) VALUES ('" . $quote_id . "', '" . $service_date . "', '" . $service_start_time . "', '" . $service_end_time . "');";
				$mysqli->query($tutor_sql);
			}

		}

		foreach($_POST['goods'] as $goods) {
			//TODO - FIX THIS

			if(isset($goods['checked']) && $goods['checked'] == 1) {
				$goods_sql = "INSERT INTO users_goods (quote_id, good_id, quantity) VALUES ('" . $quote_id . "', '" . strip_tags($goods['id']) . "', '" . strip_tags($goods['quantity']) . "');";
				$mysqli->query($goods_sql);

			}
		}

		//TODO - After all are entered and no errors then redirect to quote page to show everything.

		if(!$sub_errors && !$tutor_errors) {
			//TODO - Redirect to quote page.
			$redirect = true;
		}


	}

	function strip_input($data) {
	  $data = trim($data);
	  $data = stripslashes($data);
	  $data = htmlspecialchars($data);
	  return $data;
	}
?>

<?php if($redirect): ?>
	<script type="text/javascript">
		window.location = "/BuildEmpire/quote.phtml";
	</script>
<?php endif; ?>